* { margin:0; padding:0 }
body { font-family:Tahoma; font-size:62.5%; background:#F7F7F7; overflow-x:hidden }

a { color:#3B5998 }
a:hover { text-decoration:none }

h1, h2, h3, h4 { color:#1C2A47; float:left; clear:left; margin:15px 10px; width:100% }

img { border:0 }

table { clear:left }

p { line-height:20pt }

ul { float:left; clear:left }
ul li { float:left; margin:0 10px; list-style:none }

#container { font-size:1.2em }

#nav { width:100%; border-bottom:1px solid #CCC; padding:10px 0; background:#FFF }
#nav li.signin,#nav li.signout { float:right }
#nav li a { text-decoration:none }
#nav li a:hover { text-decoration:underline }

#dm { clear:left; width:100%; display:none; border-bottom:1px solid #CCC; padding:10px; background:#FFF }

.tweets { width:47%; height:50%; overflow-y:scroll; float:left; clear:none; padding:1px; margin:0 1%; border:1px solid #CCC; -webkit-border-radius:5px; -moz-border-radius:5px }
.tweets li { clear:left; margin:5px 0 }
.tweets li.title { font-weight:bold; font-size:1.5em; margin-bottom:10px }
.tweets li span { display:block } 
.tweets li .username { font-weight:bold }
.tweets li .tweet {  }
.tweets li .date { font-style:italic; color:#AAA; font-size:0.9em }