#{extends 'tuit/main.html' /}
#{set title:'Timeline' /}

<h1>${screenName}'s Timeline</h1>
<ul id="userList"></ul>

<script>
var socket = new WebSocket("ws://localhost:8080"); 

socket.onopen = function() {
	socket.send(${accountId});
	console.log("Websocket opened");
};

socket.onmessage = function(msg) {    
    $('#userList').append('<li>user</li>');
    console.log(msg);
};

/*
var socket = new io.Socket("http://localhost:8080/getTimeline?id=${accountId}", { rememberTransport: false });
socket.connect();

socket.on('message', function(obj) {    
	$('#userList').append('<li>user</li>');
    console.log(obj);
});
*/

</script>

