#{extends 'main.html' /}
#{set title:'Timeline' /}

<h1>${screenName}'s Timeline</h1>

<div class="tweets">
    <h3>My Tweets</h3>
    <ul>	    
	    #{list items:timeline, as:'tweet' }
		    <li class="${tweet_parity}">
				<span class="tweet">${tweet.getText()}</span>
				<span class="date">${tweet.getCreatedAt().format('HH:mm dd/MM/yyyy')}</span>  
		    </li>
	    #{/list}
    </ul>
</div>

<div class="tweets">
    <h3>Mentions</h3>
    <ul>
        #{list items:mentions, as:'tweet' }
	        <li class="${tweet_parity}">
	            <span class="username">${tweet.getUser().getName()} (${tweet.getUser().getScreenName()})</span>
	            <span class="tweet">${tweet.getText()}</span>
	            <span class="date">${tweet.getCreatedAt().format('HH:mm dd/MM/yyyy')}</span>  
	        </li>
	    #{/list}
    </ul>
</div>



