<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="container">        
            <div id="header">
                <ul id="nav">
	                <li><a href="@{Tuit.index()}">Home</a></li>
	                #{if loggedin == true}
	                   <li><a href="@{Tuit.timeline(session.get("userId"))}">My Timeline</a></li>
                    #{/if}
	            </ul>
	            #{if loggedin == false}
	                <a class="signin" href="@{Tuit.signin()}"><img src="http://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" alt="" /></a>
	            #{/if}
            </div>            
            <h3>Session status: ${loggedin}</h3>
            #{doLayout /}
        </div>        
    </body>
</html>
